/* body{
  background-color: antiquewhite;
} */

/* .cont{
    background-color: #2f154c;
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@300;400&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    font-size: 18px;
}

 .navbar .logo img{
    width: 150px;
 }

/* .Navs-Bar{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

} */

/* .header .logo{

} */


.Navs-Bar .navbar ul{
    list-style: none;
    margin-top: 18px;

}


.Navs-Bar .navbar ul li {
    position: relative;
    float: left;
   


}

.Navs-Bar .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
    

}

.Navs-Bar .navbar ul li a .btn{
    font-size: 20px;
    margin-top: -5px;
  
}


.Navs-Bar .navbar ul li a:hover {
    color: blue;
    /* background-color: #333; */

}

.Navs-Bar .navbar ul li ul{
    position: absolute;
    left: 0;
    /* width: 200px; */
    background: #fff;
    display: none;
    
    
}

.Navs-Bar .navbar ul li ul li{
    /* width: 100%; */
    /* border-top: 1px solid #fff; */
    margin-top: -39px;
   

}

.Navs-Bar .navbar ul li ul li ul{
    left: 200px;
    top: 0;

}

.Navs-Bar .navbar ul li:hover > ul {
    display: initial;
}




.cards{
    background-color:#f2fbf7;
}

.card-bodys{
    /* width: 80px; */
   
    border: 1px solid black;
    /* border-radius: 10%; */
}


.project{
    margin-top: 30px;
    background-color: #292385;


}

.mear{
    color: #fff;
}

.backg{
    background-color: #113f6e;
   
}

.text-img{
    color: #fff;
    
}

/* .text-img .text-social h5{
    left: 50px;
} */

/* .card-nam{
    color: #fff;
    
} */

.full-coures{
    background-color:#f2fbf7;
    margin-top: 50px;
    padding: 15px 0px;

}

.coures-tx{
    text-align: center;
    padding: 40px 12px;
}

.card-week{
    margin: 40px 100px;
    
    /* margin-left: 100px; */
}
.carder{
    background-color: #fff;
    height: 90%;
    border-radius: 20px;
}

.card-text{
    padding: 10px 20px;
    
}

.image-area{
   
    margin-left: 15px;
 
}
.col-1{
    margin-left: 50px;
}




  
.carousel-inner{
    background-color: #f7f9fb;
}

.card{
    margin: 50px 2px;
}

.img-area{

    width: 90px;
    height: 90px;
    border: 1px solid #fff;
    overflow: hidden;

    margin-top: 15px;
    margin: 15px 10px;
    
    border-radius: 50%;
    
}

.card-nam{
    left: 100px;
    top: 30px;
    position: absolute;
}

.card-text{
    margin: 10px 20px;
    padding-bottom: 15px;
}


.footer{
    background-color: #03081a;
    padding: 50px 0px;
    color: #fff;
}
.follow{
    margin-top: 30px;
}

.follow-img img{
    padding: 10px 5px;
}

.logo-img img{
    width: 150px;
    margin-top: 20px;
}

.contact{
    margin-top: 40px;
}

.contact-text{
    margin-top: 20px;
}

.contact-text p a{
    display: block;
    text-decoration: none;

}

.link{
    margin-top: 30px;
    margin-left: 23rem;
}

.link-text{
    text-align: start;
    margin-top: 15px;


}

.link-text a{
    display: block;
    text-decoration: none;
}

