
/* 

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #ffffff;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}




header .navbar ul{
    list-style: none;

}


header .navbar ul li {
    position: relative;
    float: left;

}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
    

}

header .navbar ul li a:hover {
    color: blue;
    background-color: #333;

}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid #fff;

}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;

}

header .navbar ul li:hover > ul {
    display: initial;
}

 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Roboto:wght@100;300;400;500&family=Rubik:wght@300;400&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    font-size: 18px;
}

 .navbar .logo img{
    width: 150px;
 }

/* .Navs-Bar{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

} */

/* .header .logo{

} */


.Navs-Bar .navbar ul{
    list-style: none;
    margin-top: 18px;

}


.Navs-Bar .navbar ul li {
    position: relative;
    float: left;
   


}

.Navs-Bar .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
    text-decoration: none;
    

}

.Navs-Bar .navbar ul li a .btn{
    font-size: 20px;
    margin-top: -5px;
  
}


.Navs-Bar .navbar ul li a:hover {
    color: blue;
    /* background-color: #333; */

}

.Navs-Bar .navbar ul li ul{
    position: absolute;
    left: 0;
    /* width: 200px; */
    background: #fff;
    display: none;
    
    
}

.Navs-Bar .navbar ul li ul li{
    /* width: 100%; */
    /* border-top: 1px solid #fff; */
    margin-top: -39px;
   

}

.Navs-Bar .navbar ul li ul li ul{
    left: 200px;
    top: 0;

}

.Navs-Bar .navbar ul li:hover > ul {
    display: initial;
}


.Coding{
    background-color: #f8fafa;

}

.Coding-text{
    margin-top: 200px;
    margin-left: 50px;
}

.coding-sec-text h6{
   color: rgb(247, 128, 119);
   
}

.coding-card{
   
    padding: 20px 20px;
    background-color: bisque;
    border-radius: 10%;
    
}

.coding-sec-text{
    margin-left: 50px;
}



/* .CodingJourney{
    background-color: #f8fafa;
}

.CodingJourney_main{
    padding: 80px 0 0;
    display: flex;
    min-height: 1400px;
}

.CodingJourney_main-left{
    width: 50%;
    width: 10%;
}

img{
    overflow-clip-margin: content-box;
    
    overflow: clip;
} */



