.cards{
    background-color: #f5f0ff ;
    margin: 0rem 19rem;
    border: 1px solid lightgray;
    border-radius: 30px;
}

.card-login{
    
        background-color: #fff ;
        margin: 10px 40px;
        border-radius: 30px;
        border: 1px solid #f5f0ff;

}

.card-text{
    padding: 20px;
}

.card-text h1{
  margin: 20px 2px;
}
 .form input{
    width: 90%;
    height: 40px;
    margin: 10px 1px;
    border: 1px solid lightgray;
    text-decoration: none;
}

.form .select-form  select{
    width: 90%;
    height: 40px;
    margin: 10px 1px;
    border: 1px solid lightgray;
}



.btn button{
    text-align: center;

    margin: 20px 0px;
    
}

.signup a{
    text-decoration: none;
    margin-bottom: 10px;
}